@keyframes rotate_animation
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }

@keyframes blink_animation
  0% {
  	opacity:0.2
  }
  30% {
    opacity:0.6
  }
  50% {
  	opacity:1
  }
  80% {
    opacity:0.6
  }
  100% {
  	opacity:0.2
  }
