/*
@font-face
  font-family: 'Leckeri'
  src: url('../fonts/LeckerliOne-Regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
leckeri_font_stack = "Leckeri", Helvetica, sans-serif
*/

@import 'fontello.css'

sans_serif_font_stack = Verdana, Arial, Helvetica, sans-serif
serif_font_stack = "Times New Roman", serif
