background-size()
	-moz-background-size: arguments
	background-size: arguments

border-radius()
	-webkit-border-radius: arguments
	border-radius: arguments

	-moz-background-clip: padding
	-webkit-background-clip: padding-box
	background-clip: padding-box

box-shadow()
	-webkit-box-shadow: arguments
	box-shadow: arguments

box-sizing()
	-moz-box-sizing: arguments
	box-sizing: arguments

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	-o-transition: arguments
	transition: arguments

transform() {
	-webkit-transform: arguments;
	-moz-transform: arguments;
	-ms-transform: arguments;
	-o-transform: arguments;
	transform: arguments;
}

transition-property()
	-webkit-transition-property: arguments
	-moz-transition-property: arguments
	-o-transition-property: arguments
	transition-property: arguments

transition-duration()
	-webkit-transition-duration: arguments
	-moz-transition-duration: arguments
	-o-transition-duration: arguments
	transition-duration: arguments

transition-timing-function()
	-webkit-transition-timing-function: arguments
	-moz-transition-timing-function: arguments
	-o-transition-timing-function: arguments
	transition-timing-function: arguments

animation-name()
	-webkit-animation-name: arguments
	-moz-animation-name: arguments
	-ms-animation-name: arguments
	animation-name: arguments

animation-duration()
	-webkit-animation-duration: arguments
	-moz-animation-duration: arguments
	-ms-animation-duration: arguments
	animation-duration: arguments

animation-transform-origin()
	-webkit-animation-transform-origin: arguments
	-moz-animation-transform-origin: arguments
	-ms-animation-transform-origin: arguments
	animation-transform-origin: arguments

animation-delay()
	-webkit-animation-delay: arguments
	-moz-animation-delay: arguments
	-ms-animation-delay: arguments
	animation-delay: arguments

animation-iteration-count()
	-webkit-animation-iteration-count: arguments
	-moz-animation-iteration-count: arguments
	-ms-animation-iteration-count: arguments
	animation-iteration-count: arguments

animation-timing-function()
	-webkit-animation-timing-function: arguments
	-moz-animation-timing-function: arguments
	-o-animation-timing-function: arguments
	animation-timing-function: arguments
